@media (min-width: 768px) {
  .how-study {
    padding-bottom: 56px;
  }

  .section-icon {
    margin-right: 22px;
  }

  .title-wrapper {
    margin-bottom: 37px;
  }

  .how-study__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 22px;

    &--bulb {
      background-image: url(../../../images/sections-icon/green-bulb.png);
      background-color: #dfeeec;
    }
  }

  .how-study__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 53px;
  }

  .how-study__list-item {
    flex-basis: calc(50% - 20px);
    margin: 18px 10px;

    &:last-child {
      margin-bottom: 18px;
    }
  }

  .how-study__description {
    font-size: 16px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (min-resolution: 192dpi) {
  .how-study__icon--bulb {
    background-image: url('../../../images/sections-icon/green-bulb@2x.png');
  }
}



