.introduction-section {
    display: flex;
    flex-direction: column;
    padding-top: 116px;
    padding-bottom: 112px;

    &__text {
        font-size: 14px;
        color: #464646;
        margin-bottom: 26px;
    }

    &__text-first {
        position: relative;
    }

    &__text-first::before {
        content: url('../../../images/sections-icon/“.png');
        position: absolute;
        display: block;
        top: -28px;
    }

    &__img {
        margin-bottom: 42px;
    }

    &-text-wrapper {
        padding: 44px 26px 30px;
        text-align: center;
        background-color: #7550de;
        border-radius: 8px;
        width: 280px;
        height: 230px;
    }

    &__text-inner {
        position: relative;
        color: $white-color;
    }

    &__text-inner::before {
    content: '';
    position: absolute;
    background-color: $orange-color;
    display: block;
    left: calc(50% - 30px);
    top: -20px;
    width: 60px;
    height: 2px;
    }
}