@media (min-width: 768px) {

    .introduction-section {
        padding: 64px 34px 70px;

        &__text:first-child {
            position: relative;
        }

        &__text:first-child::before {
            content: url('../../../images/sections-icon/“.png');
            position: absolute;
            display: block;
            top: -28px;
            left: -34px;
        }

        &-text-wrapper {
            padding: 42px 76px 46px;
            text-align: left;
        }

        &__text-inner {
            position: relative;
        }

        &__text-inner::before {
            content: '';
            position: absolute;
            width: 2px;
            height: 100px;
            left: -24px;
            top: calc(50% - 50px);
        }

    }
}