a {
    text-decoration: none;
}

.header {
    position: relative;
    // display: flex;
    background-image: url(../../../images/background_320.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 320px;
    height: 560px;
    padding-top: 16px;
    padding-left: 20px;
}

.header__frist-wrapper  {
    position: sticky;
    margin-bottom: 272px;
}

.header__burger  {
    display: block;
    width: 30px;
    height: 2px;
    background: #000;
}

.burger__lines

.header__hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.nav__list   {
    list-style: none;
    margin-bottom: 26px;
}

.nav__list:last-child    {
    margin-bottom: 52px;
}

.nav    {
    text-align: center;
}

.list__items   {
    position: relative;
    font-size: 25px;
    color: white;
}

.list__items:hover  {
    position:  relative;
}

.list__items:hover::after {
    content: '';
    position: absolute;
    background-color: rgba(233, 172, 56, 1);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-top: 6px;
}

.header__application   {
    display: block;
    margin: 0 auto;
}

.header-text__main   {
    font-size: 35px;
    color: white;
}

.header-text__submain    {
    display: inline-block;
    background-color: rgba(67, 55, 53, 0.5);
    color: white;
}

.header-text__submain--golden    {
    color: #e9ac38;
}

.header__scrolldown  {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%)
}
