*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* a {
    text-decoration: none;
}

.header {
    position: relative;
    // display: flex;
    background-image: url(../../../images/background_320.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 320px;
    height: 560px;
    padding-top: 16px;
    padding-left: 20px;
}

.header_frist-wrapper  {
    position: sticky;
    margin-bottom: 272px;
}

.header_burger  {
    
}

.header_hidden {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.nav_list   {
    list-style: none;
    margin-bottom: 26px;
}

.nav_list:last-child    {
    margin-bottom: 52px;
}

.nav    {
    text-align: center;
}

.list_items   {
    position: relative;
    font-size: 25px;
    color: white;
}

.list_items:hover  {
    position:  relative;
}

.list_items:hover::after {
    content: '';
    position: absolute;
    background-color: rgba(233, 172, 56, 1);
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    margin-top: 6px;
}

.header_application   {
    display: block;
    margin: 0 auto;
}

.header-text_main   {
    font-size: 35px;
    color: white;
}

.header-text_submain    {
    display: inline-block;
    background-color: rgba(67, 55, 53, 0.5);
    color: white;
}

.header-text_submain--golden    {
    color: #e9ac38;
}

.header_scrolldown  {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%)
}
