html {
  box-sizing: border-box;
  color: $main-color;
  font-style: normal;
  font-weight: 400;
}

.container {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1920px) {
    padding: 0 310px;
  }
}

.container__wrapper {
  min-width: 280px;

  @media (min-width: 768px) {
    min-width: 690px;
  }

  @media (min-width: 1920px) {
    min-width: 1300px;
  }
}