* {
  box-sizing: border-box;
}

html {
  color: $main-color;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  min-width: 320px;
  padding: 0 20px;

  @media (min-width: 768px) {
    padding: 0 40px;
  }

  @media (min-width: 1400px) {
    padding: 0 50px;
  }
}

.container__wrapper {
  @media (min-width: 1400px) {
    max-width: 1300px;
    margin: 0 auto;
  }
}