// COLOR
$main-color: #444444;
$white-color: #ffffff;
$orange-color: #fcae26;
$dark-grey: #222222;
$light-grey: #969aa8;
$medium-grey: #626263;
$bg-light-grey: #222222;
$bg-dark-grey: #151515;

// FONTS
$main-font: "Open Sans", Helvetica, Arial, sans-serif;
$additional-font: Ubuntu, Helvetica, Arial, sans-serif;
