// COLOR
$main-color: #444444;
$white-color: #ffffff;
$orange-color: #fcae26;
$grey: #9699a6;
$dark-grey: #222222;
$light-grey: #969aa8;
$medium-grey: #626263;
$darken-grey: #151515;
$light-red: #fcfcfc;
$orange-light: #e9ac38;
$orange-dark: #dc9129;

$contacts-color: $grey;
$copyright-color: $medium-grey;
$svg-color: $light-red;
$button-text: $light-red;
$bg-button: $orange-light;
$bg-button-hover: $orange-dark;
$bg-footer-1: $dark-grey;
$bg-footer-2: $darken-grey;

// FONTS
$main-font: "Open Sans", Helvetica, Arial, sans-serif;
$additional-font: Ubuntu, Helvetica, Arial, sans-serif;
