@media (min-width: 1300px) {
  .structure-section {
    padding-bottom: 115px;
  }

  .structure-section__title-wrapper {
    padding-bottom: 65px;
    width: 454px;
  }

  .article__wrapper {
      display: flex;
  }

  .structure-section__article {
    // position: relative;
    // display: block;
    // padding: 56px 52px 60px 45px;
    margin: 15px;
    flex-basis: 300px;
    // flex-basis: calc(50% - 30px);

    // &-wrapper {
    //   display: flex;
    //   flex-wrap: wrap;
    //   margin: -11px;
    }
  }