@media (min-width: 1300px) {
  .structure-section {
    padding-bottom: 115px;
  }

  .structure-section__title-wrapper {
    padding-bottom: 65px;
    width: 454px;
  }

  .structure-section__article {
    flex-basis: 300px;
    margin: 0;
  }

  .structure-section__article {
    margin-right: 20px;
  }

  .structure-section__article:last-child  {
    margin-right: 0;
  }

}