@media (min-width: 768px) {
  .structure-section {
    padding-bottom: 75px;
  }

  .structure-section__title-wrapper {
    margin-bottom: 70px;
  }

  .structure-section__icon {
    margin-right: 22px;
  }

  .structure-section__article {
    position: relative;
    display: block;
    padding: 56px 52px 60px 45px;
    margin: 11px;
    flex-basis: calc(50% - 22px);

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: -11px;
    }
  }
}