@media (min-width: 768px) {
  .contact-information {
    padding: 55px 0 36px;

    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      padding-left: 34px;
    }

    &__inner {
      margin-right: 44px;
    }
  }

  .to-top {
    display: flex;
    justify-content: center;
    align-items: center;
    top: -27px;
    right: 50px;
  }

  .logo-wrapper {
    flex-basis: 100%;
  }

  .address {
    margin-bottom: 0;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;
  }

  .copyright {
    padding: 18px 0;

    &__wrapper {
      padding-left: 34px;
    }
  }

  .copyright__list {
    display: flex;
  }
  .copyright__list-item {
    margin-right: 38px;
  }
  .copyright__list-item:last-child {
    margin-right: 0;
  }
}