.header {
  position: relative;
  background-image: url('../../../images/background_320.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  min-height: 560px;
  padding: 16px 40px 40px;
}

// .header__main-wrapper    {
//     position: relative;
// }

.logo {
  display: block;
  text-decoration: none;
}

.header__frist-wrapper {
  position: sticky;
  display: flex;
  justify-content: space-between;
}

.burger {
  display: block;
  cursor: pointer;
  margin: 0;
  border: 0;
  width: 40px;
  height: 30px;
  padding: 5px;
  background: 0%;
}

.burger__lines {
  display: block;
  width: 30px;
  height: 2px;
  background: $white-color;
  margin-bottom: 5px;
}

.burger__lines:last-child {
  margin-bottom: 0;
}

.header__section {
  // display: none;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  // z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav__list {
  text-align: center;
}

.nav__list-item {
  list-style: none;
  margin-bottom: 26px;
}

.nav__list-item:last-child {
  margin-bottom: 52px;
}

.nav__list-link {
  position: relative;
  text-decoration: none;
  font-size: 25px;
}

.nav__list-link:hover::after,
.nav__list-link:focus::after {
  content: '';
  position: absolute;
  background-color: $orange-light;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-top: 6px;
}

.header-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title--color  {
    color: $white-color;
}

.header-text__submain {
  display: inline-block;
  padding: 20px;
  background-color: rgba(67, 55, 53, 0.5);
  margin-bottom: 60px;
}

.header__scrolldown {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -150%);
  // margin-bottom: 10px;
}
