@media  (min-width: 1300px) {
    .header {
        background-image: url('../../../images/background_1300.jpg');
    }

    .header__burger {
        display: none;
    }

    .header__section {
        display: flex;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        z-index: 0;
    }

    .nav__list  {
        display: flex;
        justify-content: space-between;
    }

    .list__items    {
        font-size: 18px;
    }
}


