@media  (min-width: 1300px) {
    .header {
        position: relative;
        background-image: url('../../../images/background_1300.jpg');
        padding-top: 40px;
    }

    .burger {
        display: none;
    }

    .header__main-wrapper   {
        display: flex;
        justify-content: space-between;
    }

    .header__section    {
        position: static;
        display: flex;
        transform: none;
    }

    .nav {
        min-width: 782px;
        margin-right: 30px;
    }
    .nav__list  {
        display: flex;
        justify-content: space-between;
    }

    .nav__list-link    {
        font-size: 18px;
    }

    .button--desktop    {
        transform: translateY(-20%);
    }
}


