.button {
  width: 192px;
  height: 42px;
  font-family: $main-font;
  font-size: 16px;
  font-weight: 700;
  color: $button-text;
  background-color: $bg-button;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 200ms linear;
}

.button:hover, .button:focus {
  background-color: $bg-button-hover;
}